*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    .btn {
        position: relative;
        display: inline-block;
        margin: 15px;
        padding: 14px 30px;
        text-align: center;
        text-decoration: none;
        color: #86371C;
        background: transparent;
        border: 1px solid #86371C;
        border-radius: 8px;
        a{
            text-decoration: none;
        }
      }
}
.header{
    display:flex ;
    justify-content: space-between;
    text-align: center;
    align-items: baseline;
    padding: 18px 0px;
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
    .nav-links{
        display: flex;
        gap: 38px;
        list-style-type: none;
        .dropdown{
            position: relative;
            display: inline-block;
            .dropdown-content{
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 200px;
                z-index: 1;
                a{
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }
            }
        }
        .dropdown:hover  {
            .dropdown-content{
                display: block;
                transition: .3s;
            }
          }
        
        a{
            text-decoration: none;
            color: #270A05;
            
        }
        i{
            font-size: 11px;
        }
    }
    .header-icons{
        display: flex;
        gap: 25px;
        i{
            font-size: 25px;
        }
    }
}
.welcome{
    background-image: url("/assets/image/coffee-hero-bg-sp.png");
    height: 700px;
    padding-top: 100px ;
    
    .left-side-welcome{
        width: 602px;
    }
    .mySlides {
        display:none
    }
    .w3-badge {
        height:13px;
        width:13px;
        padding:0

    }                                               
    span{
        color: var(--text-heading-black);
        font-weight: 700;
    }
    p{
        color: rgba(39, 10, 5, 0.6);
        width: 602px;
        height: 72px;
        
    }
    h1{
        font-family: 'Bakilda Histori', sans-serif;
        font-size: 100px;
        color: #270A05;
        width: 602px;
    }
    h2{
        font-family: 'Bakilda Histori', sans-serif;
        font-size: 44px;
        color: #270A05;
        width: 602px;
    }
    button{
        background-color: #86371C;
        color: #ffff;
        padding: 14px 30px;
        font-weight: 500px;
        line-height: 1;
        border-radius: 8px;
        border: none;
    }
}
.coffee-product-area{
    margin-top: 100px;
    h2{
        font-family: 'Bakilda Histori', sans-serif;
        font-size: 44px;
        color: #270A05;
    }
    p{
        color: rgba(39, 10, 5, 0.6);
    }
    .swiper {
        width: 100%;
        height: 100%;
      }
      .swiper-wrapper{
        display: flex;
      }
      .movement-icons{
        display: flex;
        font-size: 50px;
        gap: 25px;
        padding-left: 450px;
        color: #86371C;
      }
  
      .swiper-slide {
        display: flex;
        flex-direction: column;
        width: 356px;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-wrap:nowrap;
        img{
            border-radius: 10px;
        }
        h2{
            margin: 25px 0 14px;
            padding-bottom: 14px;
            font-size: 24px;
        }
        .slider-text{
            display: flex;
            align-items:baseline;
            gap: 40px;
            .cost{
                display: flex;
                align-items: baseline;
                gap: 10px;
            }
        }
      

      }

}
.about-section{
    background-color: #EFECE7;
    margin-top: 100px;
    margin-bottom: 100px;
    .about{
        padding-top:120px ;
        padding-bottom: 120px;
    }
    img{
        border-radius: 10px;
        width: 411px;
        height: 427.78px;
    }
    h2{
        color: #86371C;
        font-family: 'Bakilda Histori', sans-serif;
        font-size: 44px;
    }
    span{
        color: #86371C;
    }
    p{
        color: rgba(39, 10, 5, 0.6);
    }
    .equipments{
        display: flex;
        gap: 60px;
        h2{
            font-size: 24px;
            color: #270A05;
        }
        p{
            width: 187.28px;
        }
        .coffee-shop{
            display: flex;
        }
        .coffee-machine{
            display: flex;
        }
        .about-icon{
            font-size: 40px;
            color: #86371C;
        }
    }
    
}
.achievements{
    color: #86371C;
    margin-bottom: 100px;
    h2{
        font-family: 'Bakilda Histori', sans-serif;
        font-size: 44px;
    }
    p{
        color: rgba(39, 10, 5, 0.6);
    }
    img{
        padding-left: 150px;
        border-radius: 16px;
    }
    .info-boxs{
        display: flex;
        .info-box{
            border: 1.5px solid rgba(39, 10, 5, 0.1);
            border-radius: 10px;
            width: 164px;
            height: 160.8px;
            text-align: center;
            color: #270A05;
            font-size: 20px;
            font-weight: 600;
            line-height: 150%;
            margin-top: 8px;
            font-family: "abril-fatface", serif;
            font-weight: 400;
            font-style: italic;
            
    
        }
    }
    
}