*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    .btn {
        position: relative;
        display: inline-block;
        margin: 15px;
        padding: 14px 30px;
        text-align: center;
        text-decoration: none;
        color: #86371C;
        background: transparent;
        border: 1px solid #86371C;
        border-radius: 8px;
        a{
            text-decoration: none;
        }
      }
}
.header{
    display:flex ;
    justify-content: space-between;
    text-align: center;
    align-items: baseline;
    padding: 18px 0px;
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
    .nav-links{
        display: flex;
        gap: 38px;
        list-style-type: none;
        .dropdown{
            position: relative;
            display: inline-block;
            .dropdown-content{
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 200px;
                z-index: 1;
                a{
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }
            }
        }
        .dropdown:hover  {
            .dropdown-content{
                display: block;
                transition: .3s;
            }
          }
        
        a{
            text-decoration: none;
            color: #270A05;
            
        }
        i{
            font-size: 11px;
        }
    }
    .header-icons{
        display: flex;
        gap: 25px;
        i{
            font-size: 25px;
        }
    }
}
.welcome{
    background-image: url("/assets/image/coffee-hero-bg-sp.png");
    height: 700px;
    padding-top: 100px ;
    
    .left-side-welcome{
        width: 602px;
    }
    .mySlides {
        display:none
    }
    .w3-badge {
        height:13px;
        width:13px;
        padding:0

    }                                               
    span{
        color: var(--text-heading-black);
        font-weight: 700;
    }
    p{
        color: rgba(39, 10, 5, 0.6);
        width: 602px;
        height: 72px;
        
    }
    h1{
        font-family: 'Bakilda Histori', sans-serif;
        font-size: 100px;
        color: #270A05;
        width: 602px;
    }
    h2{
        font-family: 'Bakilda Histori', sans-serif;
        font-size: 44px;
        color: #270A05;
        width: 602px;
    }
    button{
        background-color: #86371C;
        color: #ffff;
        padding: 14px 30px;
        font-weight: 500px;
        line-height: 1;
        border-radius: 8px;
        border: none;
    }
}
.coffee-product-area{
    margin-top: 100px;
    h2{
        font-family: 'Bakilda Histori', sans-serif;
        font-size: 44px;
        color: #270A05;
    }
    p{
        color: rgba(39, 10, 5, 0.6);
    }
    .swiper {
        width: 100%;
        height: 100%;
      }
      .swiper-wrapper{  
        grid-auto-flow: column;
        grid-auto-columns: calc((100%/3)-45px);
        overflow: hidden;
      }
      .movement-icons{
        display: flex;
        
        gap: 25px;
        padding-left: 450px;
        color: #86371C;
        .swipper-button-prew{
            width: 40px;
            height: 40px;
            width: 50%;
            border: 1px dotted #86371C;
        }
      }
  
      .swiper-slide {
        display: flex;
        flex-direction: column;
        width: 356px;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-wrap:nowrap;
        img{
            border-radius: 10px;
        }
        h2{
            margin: 25px 0 14px;
            padding-bottom: 14px;
            font-size: 24px;
        }
        .slider-text{
            display: flex;
            align-items:baseline;
            gap: 40px;
            .cost{
                display: flex;
                align-items: baseline;
                gap: 10px;
            }
        }
      

      }

}
.about-section{
    background-color: #EFECE7;
    margin-top: 100px;
    margin-bottom: 100px;
    .about{
        padding-top:120px ;
        padding-bottom: 120px;
    }
    img{
        border-radius: 10px;
        width: 411px;
        height: 427.78px;
    }
    h2{
        color: #86371C;
        font-family: 'Bakilda Histori', sans-serif;
        font-size: 44px;
    }
    span{
        color: #86371C;
    }
    p{
        color: rgba(39, 10, 5, 0.6);
    }
    .equipments{
        display: flex;
        gap: 60px;
        h2{
            font-size: 24px;
            color: #270A05;
        }
        p{
            width: 187.28px;
        }
        .coffee-shop{
            display: flex;
        }
        .coffee-machine{
            display: flex;
        }
        .about-icon{
            font-size: 40px;
            color: #86371C;
        }
    }
    
}
.achievements{
    color: #86371C;
    margin-bottom: 100px;
    h2{
        font-family: 'Bakilda Histori', sans-serif;
        font-size: 44px;
    }
    p{
        color: rgba(39, 10, 5, 0.6);
    }
    img{
        padding-left: 150px;
        border-radius: 16px;
    }
    .info-boxs{
        display: flex;
        gap: 20px;
        .info-box{
            border: 1.5px solid rgba(39, 10, 5, 0.1);
            border-radius: 10px;
            width: 164px;
            height: 160.8px;
            text-align: center;
            color: #270A05;
            font-size: 20px;
            font-weight: 600;
            line-height: 150%;
            margin-top: 8px;
            font-family:  serif;
            font-weight: 400;
            p{
                color: #270A05;
                font-weight: 700;
            }
            
    
        }
    }
    
}
.menu{
    text-align: center;
    span{
        color: #86371C;
    }
    h2{
        color: #86371C;
        font-family: 'Bakilda Histori', sans-serif;
        font-size: 44px;
    }
    .menu-boxes{
        display: flex;
        justify-content: space-between;
        text-align: left;
        .menu-box{
            border: 1px solid #EBECF1;
            border-radius: 18px;
            padding: 25px;
            margin-top: 20px;
            display: flex;
            width: 630px;
            height: 156px   ;
            h2{
                color:#270A05 ;
                font-size: 20px;
                font-weight: 700px;
            }
            p{
                color: rgba(39, 10, 5, 0.7);
            }
            .menu-price{
                h2{
                    color: #86371C;
                    font-family: 'Bakilda Histori', sans-serif;
                    font-size: 44px;
                }
            }
        }
        .btn{
            padding-top: 60px;
        }

    }
}
.team{
    background-image: url(/assets/image/coff-team-bg-sp.png), linear-gradient(#270a05 100%, #270a05 100%);
    text-align: center;
    .team-head{
        color: #fff;
        padding-top: 120px;
        h2{
            font-family: 'Bakilda Histori', sans-serif;
            font-size: 44px;
        }
    }
    .team-boxes{
        display: flex;
        gap: 20px;
        padding-bottom: 120px;
        .team-box{
            .team-img{
                background-color: #EFECE7;
                border-radius: 20px;
            }
            h2{
                font-family: "abril-fatface", serif;
                color:#fff ;
                font-size: 24px;
            }
        }
    }
}
.comments{
    .comment-boxs{
        display: flex;
        .comment-box{
            display: flex;
            flex-direction: row;
            border: 1px solid #dddddd47;
            border-radius: 14px;
            padding: 40px;
            width: 546px;
            height: 271.14px;
            h2{
                font-family:  serif;
                font-size: 22px;
                font-weight: 400;
                color: #270A05;

            }
        }
    }
   
}
.blog{
    background-image: url(/assets/image/reservation-bg.png);
    margin-bottom: 100px;
    .blog-title{
        margin: 90px 0px;
        span{
            color: #86371C;
        }
        h2{
            font-size: 44px;
            color: #86371C;
            font-family: 'Bakilda Histori', sans-serif;
        }
        p{
            color: rgba(39, 10, 5, 0.6);
        }
        ul{
            list-style: none;
            padding: 0;
            span{
                color: rgba(39, 10, 5, 0.7);
            }
        }
    }
    .form{
        background-color: rgba(134, 55, 28, 0.6);
        border-radius: 14px;
        padding: 30px;
        margin: 90px 0px;
        .blog-title-left-side{
            display: flex;
            flex-direction: column;
            input{
                background-color: rgba(39, 10, 5, 0.6);
                padding: 12px 25px;
                border-radius: 6px;
                margin-right: 12px;
                margin-bottom: 12px;
            }
        }
        .blog-title-right-side{
            display: flex;
            flex-direction: column;
            input{
                background-color: rgba(39, 10, 5, 0.6);
                padding: 12px 25px;
                border-radius: 6px;
                margin-left: 12px;
                margin-bottom: 12px;
            }
        }
        button{
            border-style: none;
            padding: 14px 30px;
            background-color: #270A05;
            border-radius: 8px;
            width: 100%;
            span{
                color: #fff;
                font-weight: 500;
            }
        }
        
    }
}
.news{
    text-align: center;
    margin-bottom: 120px    ;
    span{
        color: #86371C;
    }
    h2{
        font-size: 44px;
        color: #86371C;
        font-family: 'Bakilda Histori', sans-serif;
    }
    .news-boxs{
        display: flex;
        gap: 20px;
        .news-box{
            .news-box-img{
                border-radius: 15px;
                position: relative;
                overflow: hidden;
                img{
                    vertical-align: middle;
                    border-radius: 15px;
                }
                a{
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                    border-radius: 7px;
                    top: 20px;
                    left: 20px;
                    line-height: 0;
                    padding: 22px 21px;
                    background: rgba(255, 255, 255, 0.3);
                    text-decoration: none;
                }
            }
            h2{
                font-family:  serif;
                font-size: 24px;
                font-weight: 700;
                color: #270A05;
            }
            .news-info{
                ul{
                    display: flex;
                    justify-content: space-between;
                    margin: 14px 0 ;
                    list-style-type: none;
                    padding-left: 0;
                    li{
                        font-size: 14px;
                        span{
                            color:rgba(39, 10, 5, 0.7) ;
                            padding-left: 5px; 
                        }
                    }
                }
                h2{
                    font-size: 24px;
                    font-weight: 700;
                    color: #270A05;
                    text-align: left;
                    letter-spacing: 0.24px;
                    font-family: serif;
                }
            }
        }
    }
    .btn{
        margin-top: 60px;
    }
}
.footer{
    background-image: url(/assets/image/footer-bg.png);
    padding-top:100px ;
    padding-bottom: 100px;
    .footer-box{
        h2{
            color: #fff;
            margin-bottom: 8px;
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 0.24px;
            font-family: serif;
        }
        .footer-list{
            display: flex;
            flex-direction: column;
            ul{
                list-style-type: none;
                padding-left: 0;
                li{
                    margin-bottom: 10px;
                    a{
                        color: rgba(255, 255, 255, 0.8);
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .footer-subscribe{
        height:304.67px;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 25px;
        border-radius: 12px;
        display:flex ;
        flex-direction: column;
        margin-bottom: 20px;
        .footer-subscribe-title{
            background-image: url(/assets/image/footer-subscribe-bg.png);
            position: absolute;
            color: #fff;
            width: 426px;
            height: 180.67px;
            padding-top: 5px;
            padding-left: 10px;
            h2{
                font-family: 'Bakilda Histori', sans-serif;
                font-size: 44px;
                line-height: 1.3;
            }
        }
        .footer-form{
            height: 50px;
            display: flex;
            gap: 10px;
            padding-top: 200px;
            input{
                border-radius: 6px;
                width: 321px;
                height: 50px;
                border: none;
            }
            button{
                height: 50px;
                width: 130px;
                border-radius: 6px;
                background-color: #86371C;
                border: none;
                span{
                    color: #fff;
                }
            }
        }
        .second-footer{
            display: flex;
            justify-content: space-between;
            .second-footer-list{
                display: flex;
                ul{
                    display: flex;
                    list-style: none;
                    gap: 10px;
                    a{
                        color: rgba(255, 255, 255, 0.8);
                        text-decoration: none;
                    }
                }
            }
            .second-footer-logos{
                display: flex;
                gap: 10px;
                i{
                    color: #fff;
                }
            }
        }
    }
}